---
import { DIRECTUS_URL } from "astro:env/client"
import { DIRECTUS_BEARER } from "astro:env/server"

import MainLayout from "../layouts/MainLayout.astro"
import { ItemList } from "@/components/products/item-list"

let q = await fetch(`${DIRECTUS_URL}/items/dmp_25f01_products`, {
    method: "GET",
    headers: {
        "Authorization": `Bearer ${DIRECTUS_BEARER}`
    }
})

let d = await q.json()
// console.log(d) 
---

<MainLayout className="md:p-2">
    <div class="">
        <ItemList products={d.data} client:only="react" />
    </div>
</MainLayout>
