---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
console.log("===")
console.log(`e2ee --- ${import.meta.env.E2EE_SERVER}`)
console.log("===")

let o = import.meta.env.E2EE_SERVER !== undefined && import.meta.env.E2EE_SERVER !== null || import.meta.env.E2EE_SERVER !== "";
let r;
if (!o) {
	r = await fetch(`${import.meta.env.E2EE_SERVER}/weatherforecast`)
	.then((r) => r.json())
	.then((r) => r)
}
---

<Layout>
<div>
	<p>hello astro</p>
	{
		!o && (
			r.map((item) => (
				<p>
					<code>
						{JSON.stringify(item)}
					</code>
				</p>
			))
		)
	}
</div>
</Layout>
