---
// mobile featured items
---

<div class="flex flex-row overflow-y-auto md:hidden w-full" style="scrollbar-width: thin;">
    {
        Array(4).fill(0).map((_, idx) => (


<div class="min-w-64 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
<a href="#">
    <img class="rounded-t-lg min-w64 h-64 max-h-64" src="https://via.placeholder.com/150?text=Product+Image+1" alt="" />
</a>
<div class="p-2">
    <a href="#">
        <h5 class="mb-2 text-sm tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
    </a>
</div>
</div>


        ))
    }
</div>