{% javascript %}
{% endjavascript %}

{% liquid
%}

{% if section.settings.banner_image != blank %}
<div class="flex justify-center w-full text-center">
    {% comment %} add src set {% endcomment %}
    <img src="{{ section.settings.banner_image | image_url }}" width="" height="" class="h33 w92 p-1" >
</div>
{% endif %}

{% style %}
{% endstyle %}

{% schema %}
{
    "name": "banner_main",
    "tag": "section",
    "class": "my-auto",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "banner image"
        }
    ]
}
{% endschema %}