{% javascript %}
{% endjavascript %}

{% liquid
%}

{% if section.settings.banner_image != blank %}
<div class="block">
    {% comment %} {{ section.settings.banner_image | image_url: width: 1000 | image_tag: height: 400, class: 'max-h-400 min-w-80' }} {% endcomment %}
</div>
{% endif %}

{% style %}
{% endstyle %}

{% schema %}
{
    "name": "banner_main",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "banner image"
        }
    ]
}
{% endschema %}