
{% javascript %}
{% endjavascript %}

{% liquid
%}

<div>
    featured collection
    {% for product in section.settings.collection.products %}
        {{- product.title | link_to: product.url }}
        {% render 'card-product', item: product %}
    {% endfor %}
    <div>
        hmmm
    </div>
</div>

{% style %}
{% endstyle %}

{% schema %}
{
    "name": "collection_featured",
    "tag": "section",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "featured collection"
        }
    ]
}
{% endschema %}