
{% javascript %}
{% endjavascript %}

{% liquid
%}

<div>
    featured item
</div>

{% style %}
{% endstyle %}

{% schema %}
{
    "name": "featured_item",
    "tag": "section",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "featured collection"
        }
    ]
}
{% endschema %}