<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {{ content_for_header }}

        {% style %}
            :root {

            }

            *, *::before, *::after { box-sizing: box; }
        {% endstyle %}
    </head>
    <body>
        <main>
            {{ content_for_layout }}
        </main>
    </body>
</html>