<p>auction-form works!</p>
<form [formGroup]="f" (ngSubmit)="onSubmit()">
    <div>
        <label>title</label>
        <input type="text" formControlName="title" />
    </div>
    <div>
        <label>starting price</label>
        <input type="number" formControlName="startingBid" />
    </div>
    <div>
        <label>allowed bid price</label>
        <input type="number" formControlName="intervalBid" />
    </div>
    <div>
        <button type="submit">
            Submit
        </button>
    </div>
</form>
