---
import '../styles.css'
import { ClientRouter } from 'astro:transitions';

interface Props {
	className?: string;
	metaPageTitle?: string;
	metaPageDescription?: string;
}

let props = Astro.props
---

<script>
import { initFlowbite } from 'flowbite'
window.onload = function() {
	initFlowbite()
}
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="hello" />
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
		<title>Astro Basics</title>
		<ClientRouter />
	</head>
	<body>
		<main class={props.className}>
			<slot />
		</main>
		<div></div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 96;
		height: 100%;
		scrollbar-gutter: stable;
		margin-left: .5rem;
	}
</style>
