---
import type { AuthUserAttrs, CustomerCartAttrs } from "@/lib/models"
import { db, customer_cart, sql, eq } from "astro:db"
import Base from "./Base.astro"

import { _someCookie, _fetchAuthUser } from "@/lib/utils.ts"
import { NavbarUser } from "@/components/navbar.tsx"

let token = _someCookie(Astro.request.headers.get("cookie"), "token")
, userData: AuthUserAttrs = {}
, customerCart: CustomerCartAttrs[] = [{
    customerId: "",
    cartItems: [],
}]
, products = [];

if (token) {
    userData = await _fetchAuthUser(token)
    customerCart = await db.select()
        .from(customer_cart)
        .where(eq(customer_cart.customerId, "a3123f80ad2c4a8bbabb65fcc850b36f"))
        
    // console.log(userData)
    // console.log(customerCart)
    // products = JSON.parse(cartItems[0]?.products ?? JSON.stringify([]))
}

---
<script>
import { navigate } from "astro:transitions/client"
if (!document.cookie) {
    navigate("/auth/signin")
}
</script>

<Base className="min-h-full min-w-full">
    <section class="">
        <div class="border-b min-h-16 mb-8">
            <nav class="flex justify-between items-center h-16 p-4">
                <a href="/">
                    e2ee
                </a>
                {
                    token?.length
                    ? (
                        <NavbarUser transition:persist client:only="react" 
                            customerCart={{ 
                                customerId: customerCart[0]?.customerId ?? "",
                                cartItems: products
                            }}
                            userData={userData} 
                        />
                    )
                    : (
                        <div>
                            <a href="/checkout">
                                CheckOut
                            </a>
                            <a href="/auth/signin">
                                sign in
                            </a>                            
                        </div>
                    )
                }
            </nav>
        </div>
    </section>
    <section>
        <slot />
    </section>
    <section>
        <footer>
            footer
        </footer>
    </section>
</Base>
